<div class="row">
  <div class="col-lg-6"></div>

  <div class="col-lg-5 col-md-12 col-sm-12 col-xs-12">
    <div class="logo-container" style="text-align: center;padding-bottom: 5px;">
     
      <img src="../../../../assets/images/ACIG.png" alt="" height="100px" width="250">
  </div>

    <nb-card>
      <nb-card-header translate>registeration.register-new-user</nb-card-header>
      <nb-card-body>
        <div class="col-md-12">
          <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--firstname-->
                <div class="form-group" translate>
                  <label class="label" for="firstname" translate>registeration.firstname </label>

                  <input type="text" nbInput fullWidth id="firstname" name="firstname" formControlName="firstname"
                    placeholder="{{ 'registeration.firstname' | translate }}"
                    [status]=" !firstname?.valid && (firstname?.dirty ||firstname?.touched) ? 'danger' : null">

                  <div *ngIf="!firstname?.valid && (firstname?.dirty ||firstname?.touched)">
                    <div class="text-danger" [hidden]="!firstname.errors.required" translate>
                      validations.field-required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--middlename-->
                <div class="form-group">
                  <label class="label" for="middlename" translate>registeration.middlename </label>

                  <input type="text" nbInput fullWidth id="middlename" name="middlename"
                    formControlName="middlename" placeholder="{{ 'registeration.middlename' | translate }}"
                    [status]=" !middlename?.valid && (middlename?.dirty ||middlename?.touched) ? 'danger' : null">

                  <div *ngIf="!middlename?.valid && (middlename?.dirty ||middlename?.touched)">
                    <div class="text-danger" [hidden]="!middlename.errors.required" translate>
                      validations.field-required
                    </div>
                  </div>
                </div>
              </div>

            </div>

            <div class="row">

              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--lastname-->
                <div class="form-group">
                  <label class="label" for="lastname" translate>registeration.lastname </label>

                  <input type="text" nbInput fullWidth id="lastname" name="lastname" formControlName="lastname"
                    placeholder="{{ 'registeration.lastname' | translate }}"
                    [status]=" !lastname?.valid && (lastname?.dirty ||lastname?.touched) ? 'danger' : null">

                  <div *ngIf="!lastname?.valid && (lastname?.dirty ||lastname?.touched)">
                    <div class="text-danger" [hidden]="!lastname.errors.required" translate>
                      validations.field-required
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--email-->
                <div class="form-group">
                  <label class="label" for="email" translate>registeration.email</label>

                  <input type="email" nbInput fullWidth id="email" name="email" formControlName="email"
                    placeholder="{{ 'registeration.email' | translate }}"
                    [status]=" !email?.valid && (email?.dirty ||email?.touched) ? 'danger' : null">

                  <div *ngIf="!email?.valid && (email?.dirty ||email?.touched)">
                    <div class="text-danger" [hidden]="!email.errors.required" translate>
                      validations.field-required
                    </div>
                    <div class="text-danger" [hidden]="!email.errors.email" translate>
                      registeration.please-enter-valid-email
                    </div>
                  </div>
                </div>
              </div>
            
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--username-->
                <div class="form-group">
                  <label class="label" for="username" translate>registeration.username</label>

                  <input type="text" nbInput fullWidth id="username" name="username" formControlName="username"
                    placeholder="{{ 'registeration.username' | translate }}"
                    [status]=" !username?.valid && (username?.dirty ||username?.touched) ? 'danger' : null">

                  <div *ngIf="!username?.valid && (username?.dirty ||username?.touched)">
                    <div class="text-danger" [hidden]="!username.errors.required" translate>
                      validations.field-required
                    </div>
                    <div class="text-danger" [hidden]="!username.errors.minlength">
                      {{ 'registeration.please-enter-at-least-characters' | translate: {param:
                      username.errors.minlength?.requiredLength} }}
                    </div>
                  </div>
                </div>
              </div>

              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--password-->
                <div class="form-group">
                  <label class="label" for="password" translate>registeration.password</label>

                  <input type="password" nbInput fullWidth id="password" name="password" formControlName="password"
                    placeholder="{{ 'registeration.password' | translate }}"
                    [status]=" !password?.valid && (password?.dirty ||password?.touched) ? 'danger' : null">

                  <div *ngIf="!password?.valid && (password?.dirty ||password?.touched)">
                    <div class="text-danger" [hidden]="!password.errors.required" translate>
                      validations.field-required
                    </div>
                    <div class="text-danger" [hidden]="!password.errors?.passwordStrength" translate>
                      registeration.password-validation
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--mobilenumber-->
                <div class="form-group">
                  <label class="label" for="mobilenumber" translate>registeration.mobilenumber</label>

                  <input type="tel" nbInput fullWidth id="mobilenumber" name="mobilenumber"
                    formControlName="mobilenumber" placeholder="0512345678"
                    [status]=" !mobilenumber?.valid && (mobilenumber?.dirty ||mobilenumber?.touched) ? 'danger' : null">

                  <div *ngIf="!mobilenumber?.valid && (mobilenumber?.dirty ||mobilenumber?.touched)">
                    <div class="text-danger" [hidden]="!mobilenumber.errors.required" translate>
                      validations.field-required
                    </div>
                    <div class="text-danger" [hidden]="!mobilenumber.errors?.pattern" translate>
                      validations.invalid-field-value
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6">
                <!--idType-->
                <div class="form-group">
                  <label class="label" for="idType" translate>registeration.idtype</label>
                  <nb-select fullWidth class="d-inline" id="idType" name="idType"
                     formControlName="idType">
                    <nb-option value="1">{{ 'registeration.nationalid' | translate }} </nb-option>
                    <nb-option value="2">{{ 'registeration.passport' | translate }} </nb-option>
                  </nb-select>
                </div>

              </div>
            </div>

           <div class="row">
            <div *ngIf="!hideNationalIDSection" class="col-lg-6 col-md-6 col-sm-6">
              <!--nataionalid-->
              <div class="form-group ">
                <label class="label" for="nataionalid" translate>registeration.nationalid</label>

                <input type="text" nbInput fullWidth  [ngxPattern]="numberPatternTenCharactersLimit" id="nataionalid" name="nataionalid"
                  formControlName="nataionalid" placeholder="{{ 'registeration.nationalid' | translate }}"
                  [status]=" !nataionalid?.valid && (nataionalid?.dirty ||nataionalid?.touched) ? 'danger' : null">

                <div *ngIf="!nataionalid?.valid && (nataionalid?.dirty ||nataionalid?.touched)">
                  <div class="text-danger" [hidden]="!nataionalid.errors.required" translate>
                    validations.field-required
                  </div>
                  <div class="text-danger" [hidden]="!nataionalid.errors.minlength">
                    {{ 'registeration.please-enter-at-least-characters' | translate: {param :
                    nataionalid.errors.minlength?.requiredLength} }}
                  </div>
                  <div class="text-danger" [hidden]="!nataionalid.errors.maxlength">
                    {{ 'registeration.please-enter-at-least-characters' | translate: {param:
                    nataionalid.errors.maxlength?.requiredLength} }}
                  </div>
                </div>
              </div>
            </div>
            <div *ngIf="!hidePassportIDSection" class="col-lg-6 col-md-6 col-sm-6 div-Passport">
              <!--Passport-->
              <div class="form-group">
                <label class="label" for="Passport" translate>registeration.passport</label>

                <input type="text" nbInput fullWidth id="passport" name="passport" formControlName="passport"
                  placeholder="{{ 'registeration.passport' | translate }}"
                  [status]=" !passport?.valid && (passport?.dirty ||passport?.touched) ? 'danger' : null">

                <div *ngIf="!passport?.valid && (passport?.dirty ||passport?.touched)">
                  <div class="text-danger" [hidden]="!passport.errors.required" translate>
                    validations.field-required
                  </div>
                </div>
              </div>
            </div>
           </div>


            <div class="form-group row">
              <div class="col-sm-4"></div>
              <div class="col-sm-4" style="text-align: center;">
                <button type="submit" nbButton status="primary" translate>registeration.register</button>
              </div>
              <div class="col-sm-4"></div>
            </div>

            <div class="row">
              <div class="col-sm-12" style="text-align: center;">
                <section class="another-action" translate>
                  registeration.already-have-account <a class="text-link" routerLink="../login"
                    translate>registeration.log-in</a>
                </section>
              </div>
            </div>

          </form>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

</div>

<!-- <nb-layout style="display: none"></nb-layout> -->