
<nav aria-label="Page navigation example">
  <ul *ngIf="pager.pages && pager.pages.length"
       class="pagination">

       <li [ngClass]="{disabled:pager.currentPage === 1}"
       (click)="setPage(pager.currentPage - 1)"
       class="page-item">
       <a class="page-link" (click)="setPage(1)" translate>table.first</a></li>

       <li [ngClass]="{disabled:pager.currentPage === 1}"
        (click)="setPage(pager.currentPage - 1)"
        class="page-item ">
        <a class="page-link" translate>table.previous</a></li>

    <li *ngFor="let page of pager.pages"
         class="page-item">
          <a (click)="setPage(page)"
          class="page-link" >{{page}}</a>
    </li>

    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
    (click)="setPage(pager.currentPage + 1)"
    class="page-item ">
    <a class="page-link" translate>table.next</a></li>

    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}"
    (click)="setPage(pager.currentPage + 1)"
    class="page-item">
    <a class="page-link" (click)="setPage(pager.totalPages)" translate>table.last</a></li>
  </ul>
</nav>
