<p>
test uploader with img preview
</p>

<ngx-file-uploader-dotnet (uploadFinishedEmitter)="uploadFinished($event)"></ngx-file-uploader-dotnet>

<div *ngIf="showImag">
  <img [src]="createImgPath(dbPath)" alt="profile picture" style="width:60px; height:60px;">

</div>

<button type="button" class="btn btn-success" (click)="saveFile(dbPath, 'test downloader')">Download file</button>
<hr/>
<p>
  test multi uploader with img preview
  </p>

  <ngx-multi-file-uploader (uploadMultipleFinishedEmitter)="uploadMultipleFinished($event)"></ngx-multi-file-uploader>

<nb-layout style="display: none"></nb-layout>
