
.appearance-filled,.appearance-outline {
  text-transform: none !important;
}

.backgroung-image {
  background-image: url('../../../assets/images/site-crm-backgroung.png');
  background-size: 100% 100%;
}

.acig-pt-10p {
  padding-top: 7% !important;
}
