<div class="header-container">
  <div class="logo-container">
    <a   *ngIf="isAuthenticated" (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <a class="logo"  (click)="navigateHome()">
      <!-- <img src="../../../../assets/images/ACIG-Logo.png" alt="" height="55 px" width="120"> </a> -->

      <img src="../../../../assets/images/ACIG.png" alt="" height="60 px" width="210"> </a>
  </div>


</div>

<div class="header-container">
  <nb-actions size="small">

    <nb-action class="control-item">
      <!-- <nb-search type="rotate-layout"></nb-search> -->
      <ngx-layout-direction-switcher class="control-item direction-switcher"></ngx-layout-direction-switcher>

    </nb-action>

    <nb-action class="control-item">
      <nb-select class="control-item ml-5" [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
        <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
      </nb-select>
    </nb-action>

    <!-- <nb-action class="control-item">
      <nb-select class="control-item ml-5" [selected]="defaultLang" (selectedChange)="toggleDirection($event)" status="primary">
        <nb-option *ngFor="let lang of supportedLanguages" [value]="lang"> {{ lang }}</nb-option>
      </nb-select>
    </nb-action> -->
    <!-- <nb-action class="control-item" icon="email-outline"></nb-action> -->


    <nb-action
    *ngIf="isAuthenticated"
    class="control-item"
    icon="bell-outline"></nb-action>

    <nb-action
    *ngIf="isAuthenticated"
      class="user-action" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="fullName"
               picture="../../../../assets/images/logo.png">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
