<h2  class="d-inline" translate>add-ticket</h2>

<form [formGroup]="form" (ngSubmit)="save()" *ngIf="form">

<div class="row" >

<div class="col-lg-6">
  <nb-card>
    <nb-card-body>

      <div class="form-group">

        <label for="category" class="label" translate>ticket.category</label>

        <nb-select
        class="d-inline"
        id="category"
        [status]="(form.get('categoryId').invalid && (form.get('categoryId').dirty || form.get('categoryId').touched)) ? 'danger' : null"

        formControlName="categoryId">

          <nb-option *ngFor="let x of categoryTypes" [value]="x.id" >
            {{x.nameEn | translator : x.nameAr}}
          </nb-option>
        </nb-select>

          <div
          translate
          class="text-danger"
          *ngIf="form.get('categoryId').invalid && (form.get('categoryId').dirty || form.get('categoryId').touched)">
          validations.please-provide-value
        </div>


<!--
          <div

          class="text-danger"
          *ngIf="form.get('categoryId').errors">
          <div translate *ngIf="form.get('categoryId').errors.required"> validations.please-provide-value</div>
          <div *ngIf="form.get('categoryId').errors.pattern">Date of Birth must be a valid date in the format YYYY-MM-DD</div>
        </div> -->
      </div>

      <div class="form-group">

        <label for="insuranceTypeId" class="label" translate>ticket.insuranceType</label>

        <nb-select
        class="d-inline"
        id="insuranceTypeId"
        [status]="(form.get('insuranceTypeId').invalid && (form.get('insuranceTypeId').dirty || form.get('insuranceTypeId').touched)) ? 'danger' : null"

        formControlName="insuranceTypeId">

          <nb-option *ngFor="let x of insuranceTypes" [value]="x.id" >
            {{x.nameEn | translator : x.nameAr}}
          </nb-option>
        </nb-select>

          <div
          translate
          class="text-danger"
          *ngIf="form.get('insuranceTypeId').invalid && (form.get('insuranceTypeId').dirty || form.get('insuranceTypeId').touched)">
          validations.please-provide-value
        </div>
      </div>

      <div class="form-group">

        <label for="caseTitleTypeId" class="label" translate>ticket.caseTitleType</label>

        <nb-select
        class="d-inline"
        id="caseTitleTypeId"
        [status]=" (form.get('caseTitleTypeId').invalid && (form.get('caseTitleTypeId').dirty || form.get('caseTitleTypeId').touched)) ? 'danger' : null"
        [disabled]="  form.get('insuranceTypeId').value !== -1 ? false : true"

        formControlName="caseTitleTypeId">
        <nb-option [value]="dropDownAllOption.id" >
          {{dropDownAllOption.nameEn | translator : dropDownAllOption.nameAr}}</nb-option>

          <nb-option *ngFor="let x of caseTitleTypes" [value]="x.id" >
            {{x.nameEn | translator : x.nameAr}}
          </nb-option>
        </nb-select>

          <div
          translate
          class="text-danger"
          *ngIf="form.get('caseTitleTypeId').invalid && (form.get('caseTitleTypeId').dirty || form.get('caseTitleTypeId').touched)">
          validations.please-provide-value
        </div>
      </div>

      <div *ngIf="!hideCarInsuranceSection">
        <div class="form-group">
          <label for="policyNumber" class="label" translate>ticket.policyNumber</label>
          <input
           type="text"
           nbInput fullWidth
           id="policyNumber"
           placeholder="{{ 'ticket.policyNumberPlaceholder' | translate }}"

           [status]="(form.get('policyNumber').invalid && (form.get('policyNumber').dirty || form.get('policyNumber').touched)) ? 'danger' : null"
           formControlName="policyNumber"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('policyNumber').invalid && (form.get('policyNumber').dirty || form.get('policyNumber').touched)">
           validations.please-provide-value
          </div>
        </div>

        <div class="form-group">
          <label for="claimNumber" class="label" translate>ticket.claimNumber</label>
          <input
           type="text"
           nbInput fullWidth
           id="claimNumber"
           placeholder="{{ 'ticket.claimNumberPlaceholder' | translate }}"

           [status]=" (form.get('claimNumber').invalid && (form.get('claimNumber').dirty || form.get('claimNumber').touched))? 'danger' : null"
           formControlName="claimNumber"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('claimNumber').invalid && (form.get('claimNumber').dirty || form.get('claimNumber').touched)">
           validations.please-provide-value
          </div>
        </div>

        <div class="form-group">
          <label for="plateNumber" class="label" translate>ticket.plateNumber</label>
          <input
           type="text"
           nbInput fullWidth
           pattern="^[0-9]*$"
           id="plateNumber"
           placeholder="{{ 'ticket.plateNumberPlaceholder' | translate }}"

           [status]=" (form.get('plateNumber').invalid && (form.get('plateNumber').dirty || form.get('plateNumber').touched)) ? 'danger' : null"
           formControlName="plateNumber"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('plateNumber').invalid && (form.get('plateNumber').dirty || form.get('plateNumber').touched)">
           validations.please-provide-value
          </div>
        </div>

        <div class="form-group">
          <label for="plateLetters" class="label" translate>ticket.plateLetters</label>
          <input
           type="text"
           nbInput fullWidth
           pattern="[A-Za-z]{3}"
           id="plateLetters"
           placeholder="{{ 'ticket.plateLettersPlaceholder' | translate }}"

           [status]=" (form.get('plateLetters').invalid && (form.get('plateLetters').dirty || form.get('plateLetters').touched)) ? 'danger' : null"
           formControlName="plateLetters"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('plateLetters').invalid && (form.get('plateLetters').dirty || form.get('plateLetters').touched)">
           validations.please-provide-value
          </div>
        </div>


        <div class="form-group">
          <label for="najmCaseId" class="label" translate>ticket.najmCaseId</label>
          <input
           type="text"
           nbInput fullWidth
           id="najmCaseId"
           placeholder="{{ 'ticket.najmCaseIdPlaceholder' | translate }}"

           [status]=" (form.get('najmCaseId').invalid && (form.get('najmCaseId').dirty || form.get('najmCaseId').touched)) ? 'danger' : null"
           formControlName="najmCaseId"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('najmCaseId').invalid && (form.get('najmCaseId').dirty || form.get('najmCaseId').touched)">
           validations.please-provide-value
          </div>
        </div>
      </div>

      <!-- <div class="form-group">
        <label for="policyNumber" class="label" translate>ticket.policyNumber</label>
        <input
         type="text"
         nbInput fullWidth
         id="policyNumber"
         placeholder="{{ 'ticket.policyNumberPlaceholder' | translate }}"

         [status]="(form.get('policyNumber').invalid && (form.get('policyNumber').dirty || form.get('policyNumber').touched)) ? 'danger' : null"
         formControlName="policyNumber"
         >
         <div
         translate
         class="text-danger"
         *ngIf="form.get('policyNumber').invalid && (form.get('policyNumber').dirty || form.get('policyNumber').touched)">
         validations.please-provide-value
        </div>
      </div>

      <div class="form-group">
        <label for="claimNumber" class="label" translate>ticket.claimNumber</label>
        <input
         type="text"
         nbInput fullWidth
         id="claimNumber"
         placeholder="{{ 'ticket.claimNumberPlaceholder' | translate }}"

         [status]=" (form.get('claimNumber').invalid && (form.get('claimNumber').dirty || form.get('claimNumber').touched))? 'danger' : null"
         formControlName="claimNumber"
         >
         <div
         translate
         class="text-danger"
         *ngIf="form.get('claimNumber').invalid && (form.get('claimNumber').dirty || form.get('claimNumber').touched)">
         validations.please-provide-value
        </div>
      </div>

      <div class="form-group">
        <label for="plateNumber" class="label" translate>ticket.plateNumber</label>
        <input
         type="text"
         nbInput fullWidth
         pattern="^[0-9]*$"
         id="plateNumber"
         placeholder="{{ 'ticket.plateNumberPlaceholder' | translate }}"

         [status]=" (form.get('plateNumber').invalid && (form.get('plateNumber').dirty || form.get('plateNumber').touched)) ? 'danger' : null"
         formControlName="plateNumber"
         >
         <div
         translate
         class="text-danger"
         *ngIf="form.get('plateNumber').invalid && (form.get('plateNumber').dirty || form.get('plateNumber').touched)">
         validations.please-provide-value
        </div>
      </div>

      <div class="form-group">
        <label for="plateLetters" class="label" translate>ticket.plateLetters</label>
        <input
         type="text"
         nbInput fullWidth
         pattern="[A-Za-z]{3}"
         id="plateLetters"
         placeholder="{{ 'ticket.plateLettersPlaceholder' | translate }}"

         [status]=" (form.get('plateLetters').invalid && (form.get('plateLetters').dirty || form.get('plateLetters').touched)) ? 'danger' : null"
         formControlName="plateLetters"
         >
         <div
         translate
         class="text-danger"
         *ngIf="form.get('plateLetters').invalid && (form.get('plateLetters').dirty || form.get('plateLetters').touched)">
         validations.please-provide-value
        </div>
      </div>


      <div class="form-group">
        <label for="najmCaseId" class="label" translate>ticket.najmCaseId</label>
        <input
         type="text"
         nbInput fullWidth
         id="najmCaseId"
         placeholder="{{ 'ticket.najmCaseIdPlaceholder' | translate }}"

         [status]=" (form.get('najmCaseId').invalid && (form.get('najmCaseId').dirty || form.get('najmCaseId').touched)) ? 'danger' : null"
         formControlName="najmCaseId"
         >
         <div
         translate
         class="text-danger"
         *ngIf="form.get('najmCaseId').invalid && (form.get('najmCaseId').dirty || form.get('najmCaseId').touched)">
         validations.please-provide-value
        </div>
      </div> -->


    </nb-card-body>
  </nb-card>

</div>

<div class="col-lg-6">
  <nb-card>
    <!-- <nb-card-header translate>add-ticket</nb-card-header> -->
    <nb-card-body>

      <div class="form-group">

        <label for="cityId" class="label" translate>ticket.cityId</label>
        <nb-select
        class="d-inline"
        id="cityId"
        [status]="(form.get('cityId').invalid && (form.get('cityId').dirty || form.get('cityId').touched)) ? 'danger' : null"

        formControlName="cityId">

          <nb-option *ngFor="let x of cities" [value]="x.id" >
            {{x.nameEn | translator : x.nameAr}}
          </nb-option>
        </nb-select>

          <div
          translate
          class="text-danger"
          *ngIf="form.get('cityId').invalid && (form.get('cityId').dirty || form.get('cityId').touched)">
          validations.please-provide-value
        </div>
      </div>
      <div class="form-group">
          <label for="adressfield" class="label" translate>ticket.title</label>
          <input
           type="text"
           nbInput fullWidth
           id="adressfield"
           placeholder="{{ 'ticket.title' | translate }}"

           [status]=" (form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)) ? 'danger' : null"
           formControlName="title"
           >
           <div
           translate
           class="text-danger"
           *ngIf="form.get('title').invalid && (form.get('title').dirty || form.get('title').touched)">
           validations.please-provide-value
          </div>
      </div>
      <div class="form-group">
        <label for="description" class="label" translate>ticket.description</label>

        <textarea
        rows="5"
        nbInput fullWidth shape="round"
        id="description"
        placeholder="{{ 'ticket.description' | translate }}"
        [status]=" (form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)) ? 'danger' : null"
        formControlName="description"
        >
        </textarea>


         <div
         translate
         class="text-danger"
         *ngIf="form.get('description').invalid && (form.get('description').dirty || form.get('description').touched)">
         validations.please-provide-value
        </div>
      </div>
<!--
      <div class="form-group">
      <label class="label" translate>ticket.file</label>
      <ngx-file-uploader [formcontrol]="file"  [progress]="progress" requiredFileType="image/png"></ngx-file-uploader>
      </div> -->

      <div class="form-group">
      <label class="label" translate>ticket.file</label>

      <ngx-drag-filer-uploader></ngx-drag-filer-uploader>
      </div>


      <!-- <div class="form-group">
        image with preview
        <button type="button" (click)="fileUplaoder.click()">Upload</button>

        <input type="file" #fileUplaoder (change)="onSelect($event)">
        <div class="preview-image" *ngIf="imagePreview !== '' && imagePreview && form.get('image').valid">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <br>

      </div> -->


    </nb-card-body>
  </nb-card>

</div>
</div>

<button
class="col-md-6 offset-md-3"
type="submit"
nbButton
[status]=" !form.valid ? 'danger' : 'success' "
[disabled]="!form.valid"
translate>submit</button>

</form>
